body {
    background-color: #1abc9c;
    padding: 0px;
    margin: 0px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
}

.ball1,
.ball2 {
    position: fixed;
    display: block;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 50%;
    opacity: 0.6;
    animation: bouncingAnimation 3s infinite ease-in-out;
}

.ball2 {
    animation-delay: -1.5s;
}

@keyframes bouncingAnimation {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(2);
    }
}